/* Paddings and Margins */
.padding-left-12px { padding-left: 12px; }


/**********************
 *
 * style for ChooseCategory screen
 *
 **********************/
#chooseCategoryContainer {
    background-color: #fff;
    height: 100vh
}

.container-fluid {
    padding-right: unset;
    padding-left: unset;
}

#chooseCategoryContainer .navbar {
    height: 65px;
    background-color: #95D99B;
    color: #3D6F50;
    text-transform: uppercase;
    font-size: 1.5em;
}

#chooseCategoryContainer .bottomNavbar {
    height: 65px;
    background-color: #3D6F50;
    color: #95D99B;
    font-size: 1.5em;
    padding-left: 35px;
    padding-right: 35px;
}

#chooseCategoryContainer .bottomNavbar img {
    height: 24px;
}

#chooseCategoryContainer .row {
    margin-right: 18px;
    margin-left: 22px;
}

#chooseCategoryContainer .card {
    max-height: 135px;
    max-width: 135px;
    min-height: 135px;
    min-width: 135px;
    background-color: #95D99B;
    color: #000;
    border: unset;
    border-radius: unset;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    margin: 16px;
}

#chooseCategoryContainer .card-body {
    padding: 12px 0px 12px 0px;
}

.chooseCategoryImage {
    margin-bottom: 56px;
}

