/* Paddings and Margins */
.padding-left-12px { padding-left: 12px; }


/**********************
 *
 * style for ChooseCategory screen
 *
 **********************/
#chooseCategoryContainer {
    background-color: #fff;
    min-height: calc(100vh - 65px);
}

.container-fluid {
    padding-right: unset;
    padding-left: unset;
}

#chooseCategoryContainer .row {
    margin: 0 20px;
}

#chooseCategoryContainer .card {
    max-width: 47%;
    background-color: #95D99B;
    color: #333;
    border: unset;
    border-radius: unset;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-left: 6%;
    z-index: 1;
}

#chooseCategoryContainer .card:first-child {
    margin-left: 0;
}

#chooseCategoryContainer .card-body {
    padding: 12px 0;
    color: #333;
}

.chooseCategoryImage {
    position: fixed;
    bottom: 65px;
    width: 100%;
}

.card-body:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #4d6f50;
}