/* Paddings and Margins */
.padding-left-12px { padding-left: 12px; }
.width45 { width: 45%; }
.width55 { width: 55%; }


/**********************
 *
 * style for Completion Rate screen
 *
 **********************/
#completionRateContainer {
    min-height: 100vh;
}

.topNavbar {
    background-color: #4d6f50;
    color: #fff;
}

.container-fluid {
    padding-right: unset;
    padding-left: unset;
}

.completion-container {
    width: 100%;
}

.completionRateImage {
    position: relative;
    margin-top: -150px;
    z-index: -1;
    width: 100%;
}

.completionRateImagePercentage {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    height: 170px;
    border: 8px solid #95d99b;
    border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.completion-rate-percentage-text {
    position: relative;
    font-size: 53px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #4d6f50;
    margin-left: 15px;
}

.completion-rate-percentage-symbol {
    font-size: 30px;
}