/**********************
 *
 * style for register
 *
 **********************/
#registerContainer {
    background-color: #4D6F50;
    height: 100vh;
    padding-top: 50px;
}

.register-form {
	width: auto;
	margin: 0 auto;
}

.register-form .hint-text {
	color: #fff;
	text-align: center;
    font-size: 0.8em;
}

.register-btn {
    font-size: 15px;
    font-weight: bold;
}

.register-btn.disabled {
    pointer-events: none;
}

.error-message {
    color: #fff;
    padding: 0 55px;
}

.btn-success:not(:disabled):not(.disabled):active {
    background-color: #fff;
}